<h1>Booking Details</h1>
<div id="book-flight-details">
  <p><b>Origin : </b><%= airport_name(@booking.flight.from_airport_id) %></p>
  <p><b>Destination : </b><%= airport_name(@booking.flight.to_airport_id) %></p>
  <p><b>Date : </b><%= @booking.flight.start_date %></p>
</div>
<div id="passengers">
  <h4>Passenger details</h4>
  <table class="table table-hover table-bordered">
    <thead class="thead-light">
      <tr>
        <th>Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <% @booking.passengers.each do |passenger| %>
      <tr>
        <td><%= passenger.name %></td>
        <td><%= passenger.email %></td>
      </tr>
    <% end %>
  </table>
</div>
